@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html > body{
    margin: 0;
    font-family: "Jockey One", Arial, Helvetica;
}

main{
    margin: 2rem;
    color: #233860;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

main > h1{
    font-size: 2.5rem;
    color: #233860;
    margin-bottom: 4rem;
}

main > section{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 4rem;
}

main > section > img{
    margin-right: 5rem;  
}

main > a{
    margin-left: 2.8rem;
    color : #233860;
    text-decoration: none;
    font-size: 2rem;
}

main > a:hover{
    text-decoration: underline;
    color: #233860;
}

@media screen and (max-width: 1000px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 95rem;
    }
    
    main > h1{
        font-size: 5rem;
        margin-bottom: 5rem;
    }
    
    main > section {
        flex-direction: column-reverse;
        font-size: 3rem;
        margin-bottom: 0;
    }
    
    main > section > img{
        margin: 0 0 3rem 0;
        width: 35rem;
    }

    main > section > p{
        margin-bottom: 2.5rem;
    }
    
    main > a {
        margin: 0;
        font-size: 3.5rem;
    }
}