@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html{
    height: 100%;
}

html > body{
    margin: 0;
    font-family: "Jockey One", Arial, Helvetica;
    height: 100%;
}

main{
    margin: 2rem;
    color: #233860;
    height: 195%;
}

main > section > h2{
   font-size: 2.2rem; 
   margin-bottom: 2rem;
}

main > section > h3{
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

main > section > div > div.carousel-inner{
    width: 70%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

main > section > div > button{
    filter: invert(100%);
}

main > section > p{
    font-size: 1.2rem;
}

main > section > h4{
    margin-bottom: 1rem;
    text-decoration: underline;
}

main > section + hr + section{
    display: flex;
    flex-direction: row;
}

main > section + hr{
    color: #233860;
    border-width: 2px;
    opacity: 0.9;
}

main > section + hr + section > article > p{
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 0;
}

main > section + hr + section > article > ul{
    padding: 0;
    margin-left: 1.3rem;
    margin-right: 4rem;
}

main > section + hr + section > article > ul > li{
    font-size: 1.05rem;
}

@media screen and (max-width:1300px){
    main > section > div > div.carousel-inner{
        width: 80%;
    }
}

@media screen and (max-width:1000px){
    main{
        height: 185%;
    }

    h2{
        font-size: 4rem !important;
        text-align: center;
    }

    h3 {
        font-size: 2.8rem !important;
        text-align: center;
    }

    h4{
        font-size: 2.8rem !important;
        margin-bottom: 2rem !important;
    }

    p{
        font-size: 2.5rem !important;
        margin-bottom: 2rem !important;
    }

    li{
        font-size: 2.4rem !important;
    }

    section > article{
        margin-left: 1rem;
    }

    section > article + article {
        margin:0;
    }

    .carousel-control-next{
        right: -4.5rem !important;
    }    

    .carousel-inner{
        width: 95% !important;
    }

    .carousel-control-prev{
        left: -4.5rem !important;
    }
}
