@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html{
    height: 100%;
}

html > body{
    margin: 0;
    font-family: "Jockey one", Arial, Helvetica;
    height: 100%;
}

main{
    margin: 2rem;
    color: #233860;
    font-weight: 500;
    font-size: 1.5rem;
    min-width: 550px;
    height: 135%;
}

main > form > fieldset > legend{
    font-size: 2.2rem;
}

main > form > fieldset > section{
    border-style: solid;
    border-color: #233860;
    border-width: 0.1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

main > form > fieldset > section > article{
    margin-bottom: 0.75rem;
}

#ville_entreprise{
    margin-bottom: 0;
}

main > form > fieldset > section > article > label{
    margin-right: 0.5rem;
}

main > form > fieldset > section > article > input{
    margin-bottom: 0.75rem;
}

#nom, #prenom{
    width: 20rem;
    margin-right: 4.2rem;
}

#l_nom{
    margin-right: 5rem;
}

#Mail{
    width: 53.75rem;
}

#entreprise, #ville{
    width: 20rem;
}

#l_entreprise{
    margin-right: 1.7rem;
}

#entreprise{
    margin-right: 6.2rem;
    width: 20rem;
}

main > form > fieldset > section + legend + section{
    height: auto;
}

#message{
    resize: both;
    width: 35rem;
    height: 20rem;
    max-width: 100%;
    min-width: 15rem;
    min-height: 15rem;
    margin-bottom: 2rem;
}

main > form > fieldset > section + legend + section > aside{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

main > form > fieldset > section + legend + section > aside > input.btn-outline-light{
    width: 12rem;
    height: 3rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    background-color: #FFF;
    color: #233860;
    border-color: #233860;
    border-radius: 3px;
    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #233860;
    --bs-btn-hover-border-color: #233860;
}

main > form > fieldset > section + legend + section > aside > input + input{
    margin-right: 0;
}

@media screen and (max-width: 1250px){

    main > form > fieldset > legend{
        font-size: 5rem;
    }

    main > form > fieldset > section{
        width: 100%;
    }

    #l_nom, #l_prenom, #l_mail, #l_entreprise, #l_ville{
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }

    main > form > fieldset > section > article{
        display: flex;
        flex-direction: column;
    }
    
    #nom, #prenom, #ville, #entreprise, #Mail{
        width: 40rem;
        height: 5rem;
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }
}