@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html{
    height: 100%;
}

html > body{
    margin: 0;
    font-family: "Jockey One", Arial, Helvetica;
    height: 100%;
}

main{
    margin: 2rem;
    color: #233860;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:0;
    height: 190%;
}

main > a{
    width: 31%;
    text-decoration: none;
    color: #233860;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    margin-top: 4rem;
}

main > a:hover{
    transform: scale(1.02);
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > a > article > figure > img{
    width: 100%;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-color: #233860;
    border-width: 5px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 5px 5px 0 0;
}

figcaption{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

main > a > article > figure > p{
    margin: 1rem;
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
}

#prog{
    text-decoration: none;
    color: #233860;
    font-size: 1.4rem;
    margin-top: 2rem;
    border-style:none;
    width: auto;
}

#prog:hover{
    text-decoration: underline;
    transform: none;
}

@media screen and (max-width:1500px){
    main > a{
        width:48%;
    }
}

@media screen and (max-width:1000px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350%;
    }
    
    main > a{
        width:95%;
    }

    main > a:hover{
        transform: none;
    }

    #prog{
        width:auto;
        margin-top: 4rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    figcaption{
        font-size: 3.5rem;
        text-align: center;
    }

    p{
        font-size: 2.5rem !important;
    }
}
