nav{
    background-color: #233860;
    height: 20%;
    font-size: 2.5rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

nav > a.btn-outline-light{
    width: 15rem;
    height: 4.2rem;
    margin-right: 4rem;
    padding: 0.7rem;
    font-size: 1.7rem;
    --bs-btn-hover-color: #233860;
}

nav > button.dropdown-toggle{
    font-size: 1.7rem;
    width: 15rem;
    height: 4.1rem;
    margin-right: 4rem;
}

nav > button.dropdown-toggle:hover{
    color: #233860;
}

nav > ul > li > a.dropdown-item{
    color: #233860;
    font-family: "Jockey One", Arial, Helvetica;
    font-size: 1.1rem;
}

footer{
    background-color: #233860;
    color: white;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
}

footer > section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer > p{
    margin: 0;
    position: relative;
    top : 6.5rem; 
    height: 2rem;
    font-size: 1.8rem;
}

footer > section > article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > section > article > p{
    font-size: 1.8rem;
    margin: 0;
}

footer > section > article + article{
    margin-top: 2rem;
}

footer > section > article > a > img{
    width: 3.7rem;
    position: relative;
    right: 1.2rem;
}

footer > section > article + article > a > img{
    width: 3.5rem;
    position: relative;
    left: 1rem;
}

@media screen and (max-width: 1000px){
    nav{
        justify-content: space-between;
        height: 14rem;
    }

    nav > a.btn-outline-light{
        font-size: 3rem;
        width: 13rem;
        height: 6rem;
        margin: 0;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 2px;
    }

    nav > button.dropdown-toggle{
        width: 12rem;
        font-size: 3rem;
        height: 6rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 2px;
    }

    nav > ul.dropdown-menu{
        inset: 0px auto auto -110px !important;
        border-style: solid;
        border-width: 0.3rem;
        border-color: darkgrey;
        border-bottom-width: 0.1rem;
        padding: 0;
    }

    nav > ul > li > a.dropdown-item{
        font-size: 2.5rem;
        border-bottom-style: solid;
        border-bottom-width: 0.2rem;
        border-bottom-color: darkgrey;
    }

    footer{
        height: 12%;
    }

    footer > p{
        font-size: 3rem;
        top: 7rem;
    }

    footer > section{
        flex-direction: column-reverse;
    }

    footer > section > article + article{
        margin:0;
    }

    footer > section > article > p{
        font-size: 3rem;
    }

    footer > section > article > a{
        width: 5rem;
        right: 2.8rem;
    }

    footer > section > article > a > img{
        width: 5rem;
        right: 1.8rem;
    }

    footer > section > article + article > a{
        width: 4rem;
        left: 1.5rem;
    }

    footer > section > article + article > a > img{
        width: 4.8rem;
        left: 1.2rem;
    }
}